body{
  color:var(--clr-gray);
}

.wrapped-grid{
  display:grid;
  grid-template-colomns:minmax(300px,1fr);
  justify-content:center;
  grid-gap:2rem;
} 


.container{
box-shadow:0px 2px 8px 0px var(--clr-gray-light);
text-align:center;
border-radius:1rem;
position:relative;
overflow:hidden;
}

.banner-img{
  position:absolute;
  background-image:url(https://images.unsplash.com/photo-1614088439978-9be39d87d81a?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTY1MjIxMTI&ixlib=rb-1.2.1&q=80);
  height:12rem;
  width:100%;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}

.profile-img{
  width:10rem;
  clip-path:circle(80px at center);
  margin-top:4.8rem;
}


  .four-columns {
  display: grid;
  grid-template: auto/minmax(0, 50%) minmax(0, 50%);
  gap: 20px
}
.round {
  border-radius: 50%;
}

.shadow {
  box-shadow: 0 4px 8px rgb(134 151 168 / 10%);
}

/* Badge */
.badge, .card {
  background: rgb(240, 240, 240);
  padding: 6px 5px;
  border-radius: 4px;
  display: inline-block;
  line-height: 13px;
  font-size: 13px;
  font-weight: 600;
  color: rgb(51,51,51);
  margin: 0 0 20px 0;
}


h1 {
  font-size: 32px;
  font-weight: 300;
  color: rgb(51,51,51);
}
  
h2 {
  color: rgb(51,51,51);
  letter-spacing: 2px;
  font-size: 24px;
  padding: 10px;
  position: relative;
  z-index: 1;
  margin: 0 0 30px;
  display: inline-block;
}

.button {
  cursor: pointer;
  color: rgb(51,51,51);
  border: 1px solid rgb(238, 238, 238);
  background: white;
  padding: 0 20px;
  height: 50px;
  border-radius: 30px;
  line-height: 47px;
  font-size: 16px;
  min-width: 150px;
}

.button svg {
  fill: rgb(51,51,51);
  vertical-align: middle;
  margin: 0,3px 2px 0;
  display: inline-block;
}

.button.icon-only {
  width: auto;
  min-width: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0;
}

.button.icon-only svg {
  margin: 0 auto 2px;
}

.three-colomns{
  display:grid;
  grid-template: auto/minmax(0,90%) minmax(0,90%);
  gap:5px;
}
.shadow {
  box-shadow: 0 2px 8px #BBDEFB
}